<% title "About" %>

<%- content_for :content_splash do -%>
<%= content_tag :h2, "About" %>
<%- end -%>

<div id="about">

<p>The National Science Foundation-funded Global Names project (Division of Biological Infrastructure, Collaborative Research <%= link_to "#1062387", "http://www.nsf.gov/awardsearch/showAward.do?AwardNumber=1062387", :target => "_blank" %>, <%= link_to "#1062441", "http://www.nsf.gov/awardsearch/showAward.do?AwardNumber=1062441", :target => "_blank" %>, <%= link_to "#1062324", "http://www.nsf.gov/awardsearch/showAward.do?AwardNumber=1062324", :target => "_blank" %>, <%= link_to "#1062378", "http://www.nsf.gov/awardsearch/showAward.do?AwardNumber=1062378", :target => "_blank" %>) is a component of the <%= link_to "Global Names
Architecture", "http://www.globalnames.org" %> - conceived to provide an open and global names-based
infrastructure to index, organize and manage biodiversity data.</p>

<p><em>PostBox</em>, in this initial version, is intended to provide upload and preview facilities for taxonomic checklists in Darwin Core Archive format. Future versions may include upload of spreadsheets with conversion into Darwin Core Archive, validation and cross-linking functions.</p>

<h3>Lead Investigators</h3>
<ul>
 <li>Stan Blum, California Academy of Sciences, San Francisco, CA</li>
 <li>Chris Freeland, Missouri Botanical Garden, St. Louis, MO</li>
 <li>David Patterson, Marine Biological Laboratory, Woods Hole, MA</li>
 <li>Richard Pyle, Bishop Museum, Honolulu, HI</li>
</ul>
<h3>Informatics Developers</h3>
<ul>
 <li>Dmitry Mozzherin, Marine Biological Laboratory</li>
 <li>David Shorthouse, Marine Biological Laboratory</li>
 <li>Robert Whitton, Bishop Museum</li>
 <li>Mark Wilden, California Academy of Sciences</li>
</ul>

</div>