  <%= semantic_form_for @metadata, :url => upload_metadata_path(:upload_id => params[:upload_id]) do |f| %>
    <%= f.inputs "Contact Information" do %>
      <%= f.input :contact_givenname, :label => "Given name", :error_class => 'inline-errors', :input_html => { :size => 50 } %>
      <%= f.input :contact_surname, :label => "Surname", :error_class => 'inline-errors', :input_html => { :size => 50 } %>
      <%= f.input :contact_email, :label => "Email", :error_class => 'inline-errors', :input_html => { :size => 50 } %>
    <% end %>
    <%= f.inputs "Tree Description" do %>
      <%= f.input :title, :error_class => 'inline-errors', :input_html => { :size => 50 } %>
      <%= f.input :project, :error_class => 'inline-errors', :input_html => { :size => 50 } %>
      <%= f.input :abstract, :error_class => 'inline-errors', :input_html => { :cols => 50 } %>
    <% end %>
    <%= f.inputs "Rights & Licensing" do %>
      <%= f.input :rights, :label => "Rights holder(s)", :error_class => 'inline-errors', :input_html => { :size => 50 } %>
      <%= f.input :license, :label => "Creative Commons License", :as => :radio, :collection => ["cc-0", "cc-by", "cc-by-sa", "cc-by-nc", "cc-by-nc-sa"], :error_class => 'inline-errors', :value_as_class => true %>
      <li class="hint">Though required in this form, rights are waived under Public Domain. See <%= link_to "Creative Commons", "http://creativecommons.org/licenses/", :target => "_blank" %> for description of licenses.</li>
    <% end %>
    <%= f.buttons do %>
      <%= f.commit_button "Submit" %>
    <% end %>
  <% end %>