  <%= semantic_form_for(@upload, :html => { :multipart => true }) do |f| %>
    <%= f.inputs do %>
      <%= f.input :email, :hint_class => 'upload-hint', :error_class => 'inline-errors', :input_html => { :size => 50 } %>
      <%= f.input :dwc, :as => :file, :label => "Darwin Core Archive"  %>
      <%= f.input :dwc_cache, :as => :hidden %>
    <% end %>
<p class="hint">A description of the Darwin Core Archive format can be found at <%= link_to "GBIF", "http://www.gbif.org/informatics/standards-and-tools/publishing-data/data-standards/darwin-core-archives/", :target => "_blank" %> and example files in their <%= link_to "code repository", "http://code.google.com/p/gbif-ecat/wiki/DwCArchive", :target => "_blank" %>. Accepted file extensions are tar.gz and zip.</p>
    <%= f.buttons do %>
      <%= f.commit_button "Upload" %>
    <% end %>
  <% end %>