<% title "Completed Submissions" %>

<%- content_for :content_splash do -%>
<%= content_tag :h2, "Completed Submissions" %>
<%- end -%>

<table class="uploads">
  <thead>
  <tr>
    <th class="header-user">Contact</th>
    <th class="header-title">Title</th>
    <th class="header-submitted">Submitted</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @uploads.each do |upload| %>
    <tr class="<% row_type = cycle("even", "odd") %><%= row_type %>">
      <td><%=h upload.metadata.contact_surname %>, <%=h upload.metadata.contact_givenname %></td>
      <td><%=h truncate(upload.metadata.title, :length => 50) %></td>
      <td><%= upload.metadata.updated_at.strftime("%b %e at %I:%M%p") %></td>
      <td><%= link_to "Show", upload_path(:id => upload.token) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="clearfix">
  <%= will_paginate @uploads, :class => 'pagination' %>
</div>