<% title "Preview" %>

<%- content_for :content_splash do -%>
<%= content_tag :h2, "Preview" %>
<%- end -%>

<div id="preview-uploader">
<h3><%=h @upload.email %></h3>
</div>

<div id="upload-preview" class="clear">

<div id="tree-wrapper">
<% if @upload.tree.status == 2 %>
  <div id="tree"></div>

  <% content_for :javascript do %>
    <script type="text/javascript">
    <!--//--><![CDATA[//><!--
    jQuery.extend(TREE, {
      "id"     : "<%= @upload.tree.id %>",
      "root"   : "<%= @upload.tree.root.id %>",
      "status" : "<%= @upload.tree.status %>"
    });
    $.jstree._themes = '<%= asset_path "jstree/themes/" %>';
    //--><!]]>
    </script>
  <% end %>
<% end %>
</div>

<div id="tree-panel-wrapper">
<% if @upload.tree.statistics && @upload.tree.status == 2 %>
<div id="tree-stats" class="panel">
  <h3>Basic Statistics</h3>
<ul>
<% @upload.tree.statistics.each do |type,stat| %>
<%= content_tag :li, type.to_s.humanize << ": " << stat.to_s.gsub(/(\d)(?=\d{3}+(?:\.|$))(\d{3}\..*)?/,'\1,\2') %>
<% end %>
</ul>
</div>
<div id="tree-eml" class="panel">
  <%= link_to "Continue", edit_upload_metadata_path({:upload_id => @upload.token}) %>
</div>
<% end %>
</div>

</div>

