<%- if @upload.tree.status < 3 -%>
<%- title "Preview" -%>

  <%- content_for :content_splash do -%>
  <%= content_tag :h2, "Preview" -%>
  <%- end -%>

  <div id="preview-uploader">
  <%- if @upload.tree.status < 3 -%>
    <h3><%=h @upload.email %></h3>
  <%- end -%>
  </div>

<%- elsif @upload.tree.status == 3 -%>

  <%- title "Submission" -%>

  <%- content_for :content_splash do -%>
  <%= content_tag :h2, h(truncate(@upload.metadata.title, :length => 50)) %>
  <h3 class="contact"><%= h(@upload.metadata.contact_surname) %>, <%= h(@upload.metadata.contact_givenname) %></h3>
  <div class="hrDotted"></div>
  <%- end -%>

<%- end -%>

<div id="upload-preview" class="clear">

<div id="tree-wrapper">
  <%- if @upload.tree.status == 3 -%>
  <div id="tabs">
    <ul class="navigation">
      <li><a href="#tree">Tree</a></li>
      <li><a href="#metadata">Description</a></li>
    </ul>
    <div id="tree"></div>
    <div id="metadata">
      <%- if !@upload.metadata.project.empty? -%>
        <h3>Project</h3>
        <div><%=h @upload.metadata.project %></div>
      <% end rescue raise ActiveRecord::RecordNotFound%>
      <h3>Abstract</h3>
     <div><%=h @upload.metadata.abstract %></div>
    </div>
  </div>
  <%- end -%>

<%- case @upload.tree.status -%>
  <% when 0 %>
    <div id="preview-loader">Waiting in the queue...</div>
  <% when 1 %>
    <div id="preview-loader">Building the preview...</div>
  <% when 2 %>
    <div id="tree"></div>
<%- end -%>

<%- if @upload.tree.status > 1 -%>
  <%- content_for :javascript do -%>
    <script type="text/javascript">
    <!--//--><![CDATA[//><!--
    jQuery.extend(TREE, {
      "id"     : "<%= @upload.tree.id %>",
      "root"   : "<%= @upload.tree.root.id %>",
      "status" : "<%= @upload.tree.status %>"
    });
    $.jstree._themes = "/assets/jstree/";
    //--><!]]>
    </script>
  <%- end -%>
<%- end -%>
</div>

<div id="tree-panel-wrapper">
<%- if @upload.tree.statistics && @upload.tree.status > 1 -%>
<div id="tree-stats" class="panel">
  <h3>Basic Statistics</h3>
<ul>
<%- @upload.tree.statistics.each do |type,stat| -%>
<%= content_tag :li, type.to_s.humanize << ": " << stat.to_s.gsub(/(\d)(?=\d{3}+(?:\.|$))(\d{3}\..*)?/,'\1,\2') %>
<%- end -%>
</ul>
</div>
<%- if @upload.tree.status == 2 -%>
  <%= button_to "Finalize Submission", edit_upload_metadata_path({:upload_id => @upload.token}), :method => :get, :class => "update" %>
<%- elsif @upload.tree.status == 3 -%>
<div id="tree-download" class="panel">
  <div><%= image_tag(asset_path("cc_icons/#{@upload.metadata.license}.png")) %></div>
  <%- if @upload.metadata.license != "cc-0" -%>
    <div>&copy; <%=h @upload.metadata.rights %></div>
  <% end %>
  <div><%= link_to "Download", @upload.dwc.url %></div>
</div>
<%- end -%>
<%- end -%>
</div>

</div>