<div id="Header" class="structural fixedWidth">
  <div class="inner">
    <div id="Logo">
      <a href="/">
        <h1>Global Names PostBox</h1>
      </a>
    </div>
    <ul id="SiteNavigation">
      <%- if controller_name == "home" -%>
        <li class="active"><%= link_to "Home", root_path %></li>
      <%- else -%>
        <li><%= link_to "Home", root_path %></li>
      <%- end -%>
      <%- if controller_name == "uploads" && action_name == "new" -%>
        <li class="active"><%= link_to "Upload", new_upload_path %></li>
      <%- else -%>
        <li><%= link_to "Upload", new_upload_path %></li>
      <%- end -%>
      <%- if controller_name == "uploads" && action_name == "index" -%>
        <li class="active"><%= link_to "Browse", uploads_path %></li>
      <%- else -%>
        <li><%= link_to "Browse", uploads_path %></li>
      <%- end -%>
      <%- if controller_name == "pages" && action_name == "about" -%>
        <li class="active"><%= link_to "About", about_path %></li>
      <%- else -%>
        <li><%= link_to "About", about_path %></li>
      <%- end -%>
      <%- if controller_name == "contacts" -%>
        <li class="active"><%= link_to "Contact", new_contact_path %></li>
      <%- else -%>
        <li><%= link_to "Contact", new_contact_path %></li>
      <%- end -%>
    </ul>
  </div>
</div>